.chat {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    height: 70px;
    border-bottom: 1px solid #e1d9d9;
}

.chat__details {
    /* Make the content take as much space as possible */
    flex: 1;
}

.chat__details > p {
    color: gray;
}

.chat__timestamp {
    color: lightgray;
}

.chat__image {
    margin-right: 20px;
}